:root{
  --bg-black-900:#000000;
  --bg-black-100:#fdf9ff;
  --bg-black-50:#efcdfd;
  --text-black-900:#cacaca;
  --text-black-700:#e2e1e1;

}
body.dark{
  --bg-black-900:#ffffff;
  --bg-black-100:#000000;
  --bg-black-50:#9c9b9b;
  --text-black-900:#7e7b7b;
  --text-black-700:#aaa9a9;

}
*{
    margin:0px;
    padding:0px;
    margin-top: -10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    /* background-color: #080808; */
  }
  body{
    background: var(--bg-black-900);
    color: var(--bg-black-100);
  }
  #header{
    width:100%;
    height:100vh;
    background: url(Images/Untitled12-removebg-preview.png);
    align-items: center;
  background-repeat: no-repeat;
  background-size:auto;
  background-position: right;
  margin-top: 50px;
  /* background-color: var(--bg-black-900); */
  }
  .container{
    padding: 15px 5%;
  }
  .container h1{
    font-size: 40px; 
    
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container nav h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: var(--bg-black-100);
  }
  nav h1 span{
    color: var(--skin-color);
    font-size: 65px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  nav ul li i.fa-solid{
    display: inline-block;
    font-size: 20px;
  }
  nav ul li :hover{
  transform: translateY(-2px);
  }
  nav ul li a{
    color: var(--bg-black-100);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    align-content: flex-end;
  }
  nav ul li a::after{
    content: ' ';
    width: 0;
    height: 3px;
    background-color: var(--skin-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  nav ul li a:hover::after{
    width: 100%;
  }
  nav ul li:active{
    transform: scale(0.98);
  }
  .header_text{
    margin-top: 20%;
    font-size: 30px;
  }
  .header_text h2{
    font-size: 40px;
    margin-top: 20px;
  }
  h3 {
    font-size: 35px;
    padding: 5px;
  }
  .header_text p{
    font-size: 35px;
  }
  p span{
    font-size: 35px;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--skin-color);
  }
  h3 span{
    color: var(--skin-color);
    font-size: 40px;
    font-weight: 700;
  }
  /* ------------about--------------- */
  #about{
    padding: 80px 0;
  }
  .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about-col-1{
flex-basis: 35%;
  }
  .about-col-1 img{
    width: 100%;
    border-radius: 300px;
  }
  .about-col-1 img:hover{
    transform: scale(1.05);
  }
  .about-col-2{
    flex-basis: 60%;
  }
  .about-col-2 h1.sub-title{
    color: var(--bg-black-100);
    position: relative;
  }
  #about h3{
    margin-bottom: 20px;
    display: block;
  }
  .about-col-2 p{
    font-size: 20px;
  }
  .about-col-2 p span{
    color: var(--skin-color);
    font-size: 30px;
    font-weight:bolder;
  }
  #about .about-col-2 #skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    }
    #about .about-col-2 #skills .skill-item h5{
      line-height: 40px;
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 900;
      font-style: italic;
    }
    #about .about-col-2 #skills .skill-item .progress{
      background: #dbddba;
      height: 7px;
      border-radius: 4px;
      width: 100%;
      position: relative;
    }
    #about .about-col-2 #skills .skill-item{
      margin-bottom: 30px;
    }
    #about .about-col-2 #skills .skill-item .progress .progress-in{
      position: absolute;
      left: 0;
      top: 0;
      height: 7px;
      border-radius: 4px;
      background-color: var(--skin-color);
    }
    #about .about-col-2 #skills .skill-item .skill-percent{
      position: absolute;
      right: 0;
      top: -40px;
      font-weight: 400;
      line-height: -40px;
    }
  .sub-title {
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
    position: relative;
    /* background-color: red; */
  }
  .sub-title::before{
    content: '';
    height: 4px;
    width: 100px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
  }
  .sub-title::after{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
  }
  .tab-titles{
    display: flex;
    margin: 20px 0 40px;
  }
  .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position:relative;
  }
  .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--skin-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
  }
  .tab-links.active-link::after{
    width: 80%;
  }
.tab-contents ul li{
  list-style: none;
  margin: 10px;
}
.tab-contents ul li span{
  font-weight: 900;
  font-style:italic;
font-size: 22px;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
/* -------------------services------------------- */
#services{
  padding: 30px 0;
}
#services h1.sub-title{
  color: var(--bg-black-100);
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
margin-top: 50px;
}
.services-list div{
  background: var(--bg-black-50);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s,transform 0.5s;
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration: none;
  color: var(--bg-black-100);
  font-size: 10px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover{
  background-color: var(--skin-color);
  transform: translateY(-10px);
}
/* ----------------portfolio--------------- */
#portfolio{
  padding: 50px 0;
}
#portfolio h1.sub-title{
  color: var(--bg-black-100);
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow:hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
display: block;
}


/* ------------Contact------------- */
#contact h1.sub-title{
  color: var(--bg-black-100);
}
.contact-left{
  flex-basis: 35%;
}
.contact-left .btn{
  font-size: 15px;
    display: block;
    margin:  50px auto;
    width: fit-content;
    border-color: var(--skin-color);
    padding: 14px 50px;
    border-radius: 26px;
    text-decoration: none;
    color: #fff;
    transition: backgrount 0.5s;
    display: inline-block;
    background-color: var(--skin-color);
  }
  .contact-left .btn:active{
    transform: scale(0.98);
  }
  .contact-left .btn:hover{
    transform: scale(1.09);
  }
.contact-right{
  flex-basis: 60%;
  margin-top: 50px;
}

.contact-left p{
  margin-top: 30px;
}
.contact-left p i:hover{
  transform: translateY(-2px);
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #aa9494;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  transform: translateY(-5px);
}
.btn{
  display: block;
  margin:  50px auto;
  width: fit-content;
  border:none;
  padding: 14px 50px;
  border-radius: 26px;
  text-decoration: none;
  color: #fff;
  transition: backgrount 0.5s;
  display: inline-block;
  background-color: var(--skin-color);
}
.btn:hover{
  transform: scale(1.09);
}
.btn:active{
  transform: scale(0.98);
}
.contact-right form{
width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: var(--text-black-700);
  padding: 15px;
  margin: 15px 0;
  color: var(--bg-black-100);
  font-size: 18px;
  border-radius: 6px;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: var(--text-black-100);
  font-weight: 300;
  margin-top: 20px;
}
nav i.fa-solid{
  display: none;
}
/* --------css for small screen-------------- */
@media only screen and (max-width: 700px){
#header h2{
  font-size: 28px;
}
nav i.fa-solid{
  display: inline-block;
  font-size: 25px;
}
nav ul{
  background-color: var(--skin-color);
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  padding-top: 50px;
  z-index: 2;
  transition: right 0.5s;
}
nav ul li{
  display:block;
  margin: 25px;
}
nav ul i.fa-solid{
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 20px;
  cursor: pointer;
}
.sub-title{
  font-size: 40px;
}
.tab-links{
  font-size: 16px;
  margin-right: 20px;
}
.contact-left,.contact-right{
  flex-basis: 100%;
}
.copyright{
  font-size: 14px;
}

.header_text {
  font-size: 20px;
  margin-top: 65%;
  /* font-size: 16px; */
}
.about-col-1 img{
  width: 283%;
  border-radius: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
}
nav ul li a{
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
} 
 nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a i.fa-solid{
  display: none;
  font-size: 20px;
}
#skills{
  padding-right: 15px;
}



}
#msg{
  color: #61b752;
  margin-top: -10px;
  display: block;
}